.backgroundModal {
  background-color: rgba(0, 0, 0, 0.82);
  position: fixed;
  inset: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10000;
}

.addHabbitModalContainer {
  width: 600px;
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 20px;
  box-shadow: 2px 2px 2px gray;
}

.addHabbitModalContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}

.addHabbitModalContainer h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.addButton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  letter-spacing: 2px;
}
.addButton:hover {
  background-color: #347c37;
}

.rmvButton {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  letter-spacing: 2px;
}
.rmvButton:hover {
  background-color: #ba2c1d;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: gray;
  margin-bottom: 20px;
  align-items: center;
}

.textareaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: gray;
  margin-bottom: 20px;
}
.textareaContainer textarea {
  min-height: 100px;
  height: 100px;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.frenquencyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5px;
}

.frenquencyContainer p {
  color: gray;
}

.frenquencyContainer select {
  width: 70%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-align: center;
  font-size: 16px;
}

.frenquencyContainer select option {
  letter-spacing: 2px;
  text-align: center;
  font-size: 16px;
}

.dangerInput {
  border: 2px solid red !important;
  color: red;
}
