.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(96, 96, 249);
  color: white;
  padding: 10px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
}

.header button {
  color: white;
}

.header h1 {
  letter-spacing: 2px;
  color: yellow;
  text-shadow: 1px 1px 2px black;
}
