* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}
