.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(84, 84, 255);
  color: white;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: rgb(133, 133, 255);
  padding: 12px;
  height: 100vh;
  position: fixed; /* Adjust height considering header height */
}

.sideMenu button {
  padding: 15px 20px;
  margin-bottom: 20px;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
}
.sideMenu button:hover {
  background-color: rgb(104, 104, 255);
  color: yellow;
}

.active {
  background-color: rgb(104, 104, 255);
  color: yellow !important;
}

.mainContainer {
  margin-left: 220px; /* Adjust based on side menu width */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
